<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
        
        <h1 class="post-title">{{ .Title }}</h1>
        
        <div class="post-content markdown-body">
          {{ range .Data.Terms }}
          <div class="tag-item">
            <h2><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a> ({{ .Count }})</h2>
            <ul>
              {{ range .Pages }}
              <li><a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ .Date.Format "2006-01-02" }}</li>
              {{ end }}
            </ul>
          </div>
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>